gug

body {
    margin: 0;
    padding: 0;
}

header {
  font-family: serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #281400;
  text-align: center;
  height: 45em;
}
header nav {
  text-align: center;
}
header ul.nav:nth-child(2) {
  margin-left: 15em;
}
header ul.nav:nth-child(2) a {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.65);
  font-weight: normal;
}
header ul.nav:nth-child(3) {
  margin-top: 1em;
  margin-left: 10em;
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.5em;
}
header h1 {
  margin: 5em auto 0.5em auto;
  text-transform: uppercase;
  width: 10em;
}
header h1 span {
  text-transform: capitalize;
}
header .btn {
  background-color: #a28f61;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1.5em;
  color: white;
}
header span.glyphicon:nth-child(4) {
  font-size: 1.5em;
  margin-top: 10em;
  margin-left: 40em;
  color: rgba(255, 255, 255, 0.65);
}

main {
  padding: 1em;
  text-align: center;
}
main h2 {
  margin: 2em 0 1.5em 0;
  font-family: serif;
}
main section:not(#product) {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
main section:not(#product) article:not(#desc) {
  text-decoration: none;
  width: 14.5%;
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 5px lightgrey;
  margin: 0.5em 0;
}
main section:not(#product) article:not(#desc) h4 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0.5em;
}
main section:not(#product) article:not(#desc) p {
    margin: 1em 0.5em;
}
main section:not(#product) article:not(#desc) span {
    margin: 1em 0.5em;
}
main section:not(#product) article:not(#desc) .buy {
  color: #a28f61;
}
main section:not(#product) article:not(#desc) .on-sale {
  color: #dda708;
}
main section:not(#product) article:not(#desc) .sold-out {
  color: lightgrey;
}
main section:not(#product) article:not(#desc) img {
  width: 100%;
}
main section:not(#product) article:not(#desc) p {
  color: rgba(0, 0, 0, 0.8);
}
.catprod a {
    text-decoration: none;
}
footer {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-around;
  height: 13em;
  padding-top: 3em;
  margin-top: 3em;
  background-color: #0f3e57;
}
footer article h3 {
  color: white;
}
footer article ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
footer article ul li {
  color: rgba(255, 255, 255, 0.65);
  margin: 0.5em 0;
}
footer article ul li i {
  margin-right: 1em;
}
footer article ul li a {
  color: rgba(255, 255, 255, 0.65);
}
footer article input {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}
footer article .btn {
  background-color: #0f3e57;
  color: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.65);
  margin-bottom: 0.15em;
}
footer article .btn:hover {
  color: #0f3e57;
  background-color: rgba(255, 255, 255, 0.65);
}

#product {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 50%;
  margin: 3em auto auto auto;
  padding: 1em;
  background-color: #0f3e57;
  border-radius: 5px;
}
#product article {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.65);
  padding-left: 3em;
  border-left: 1px solid rgba(255, 255, 255, 0.65);
}
#product article input {
  color: #0f3e57;
  border: 3px solid rgba(255, 255, 255, 0.65);
  border-radius: 5px;
}

td input {
  width: 5em;
}

form {
  width: 50%;
  margin: 2em auto auto auto;
}

@media screen and (max-width: 640px) {
  header h1 {
    width: 100%;
  }
  header div#navcol {
    margin-left: 4em;
  }
  header ul.nav:nth-child(2) {
    margin: 0;
  }
  header span.glyphicon:nth-child(4) {
    margin-left: 10em;
  }

  main section {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  main section h2 {
    text-align: center;
  }
  main section article {
    width: auto;
  }
  main section img {
    width: 70%;
    max-height: 175px;
    margin: auto;
  }

  footer {
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;
  }

  #product {
    flex-direction: column;
    width: 100%;
  }
  #product .img-rounded {
    margin-bottom: 2em;
  }
  #product article {
    width: 100%;
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    padding: 0;
  }
  #product article h2 {
    margin: 1em 0;
  }
  #product article h4 {
    margin-bottom: 1em;
  }
  #product article form {
    margin: 0 0 1em 0;
  }

  form {
    width: 100%;
  }
}

/*# sourceMappingURL=master.css.map */
